{
    "extends" : ["airbnb-base", "plugin:import/errors", "prettier"],
    "rules": {
        "no-console": 1
    },
    "plugins" :["import"],
    "parser":"@babel/eslint-parser",
    "parserOptions": {
        "ecmaVersion" : 2020,
        "sourceType" : "module",
    },
    "env" : {
        "es6" : true,
        "node": true
    },
    "settings": {
    },
    "ignorePatterns": ["/node_modules/**", "/bin/**"]
}